<!DOCTYPE HTML>
<head>
<title>Kurse</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_selbst.css') }}" />
</head>
<html>
<body>
    <h1>Kurse</h1>
    <ul>
    <li><p><h2><strong>Erster Kurs</strong></h2></p>
    <p id="erklärung"><strong>Hier könnte eine Kursbeschreibung stehen. Welches Level? Vorkenntnisse? Welche Figuren werden beigebracht?
    6-count? 8-count?</strong></p>
    <p id="link"><strong><a href='https://www.vh-ulm.de/vh-programm/kurs-finder?kfs_stichwort_schlagwort=lindy+hop&clearallkatfilter=true' target="_blank">Zur Anmeldung</a></strong></p>
    </li>
    <li><p><h2><strong>Zweiter Kurs</strong></h2></p></li>
    <li><p><h2><strong>Dritter Kurs</strong></h2></p></li>
    </ul>
                    </body>
                        </html>
